body {
	font-family: "source code pro";

	text-align: justify;
	text-justify: inter-word;
  	background: #222325;
	color: #f7f7f7;
	font-size: 13px;
	font-style: normal;
	font-weight: 450;
	line-height: 18.5714px;
	margin-left: 400px;
	padding-left: 1.5%;
	border-left: 7px solid #9195a1;
}

div.Portfolio {
	margin-left: 10%;
}

p {	
	margin-left: 2.5%;
	margin-right: 40%;
}
h1 {
	font-family: 'agency fb', monospace;
	font-size: 35px;
	font-style: normal;
	line-height: 40px;
}

h2 {
	font-family: 'agency fb', monospace;
	font-style: normal;
	font-weight: 800px;
	font-size: 48px;
	font-style: normal;
	line-height: 40px;
}

h3 {
	font-family: 'agency fb';
	font-style: normal;
	line-height: 18px;
	font-size: 23px;
	color: #ffffff;
	background: #46484e;
	height: 24px;
	padding-left: 20px;
	padding-top: 7px;
	margin-right: 450px;
}

h4 {
	font-family: 'Share Tech Mono';
	font-style: normal;
	font-weight: 400;
	line-height: 15px;
	font-size: 17.5px;
	text-align: left;
	color: #ffffff;
	margin-top: 28px;
	margin-bottom: 0px;
}

h4.first {
	font-family: 'Share Tech Mono';
	line-height: 15px;
	font-size: 17.5px;
	color: #ffffff;
	margin-top: 0px;
	margin-bottom: 0px;
}

h5 {
	font-family: 'Share Tech Mono';
	font-size:17.5px;
	font-weight: 400;
	margin-bottom: 5px;
}

a {
	color: #ffffff;
	text-decoration-color: #efefef;
}

a:visted {
	color: #ffffff;
}

a.h3 {
	font-family: "source code pro";
	line-height: 18px;
	font-size: 23px;
}

ul {
	margin-top: 5px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 34px;
	border-left: 5px solid #9195a1;
}

ul.nextgen {
	padding-left: 20px;
	border-left: 0px;
}

ul.indentedlist {
	margin-left: 5%;
}

div.list {
	padding-top: 0.1px;
	padding-bottom: 5px;
	padding-left: 1%;
	margin-left: 2.5%;
	font-size: 12px;
	font-style: normal;
	font-family: "source code pro";	
	font-weight: 400;
	line-height: 18.5714px;
}

div.nextgenBox {
	margin-left:2.5%;
	margin-bottom:0;
}

.column {
  float: left;
  width: 220px;
  padding-right:30px;
}

div.PortfolioGallery {
	margin-left:35px
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

div.gallery {
		  margin: 5px;
		  border: 1px solid #ccc;
		  float: left;
		  width: 180px;
		}

		div.gallery:hover {
		  border: 1px solid #777;
		}

		div.gallery img {
		  width: 100%;
		  height: auto;
		}

		div.desc {
		  padding: 15px;
		  text-align: center;