body {
	font-family: "source code pro";

	text-align: justify;
	text-justify: inter-word;
  	background: #222325;
	color: #f7f7f7;
	font-size: 13px;
	font-style: normal;
	font-weight: 450;
	line-height: 18.5714px;
	margin-right: 5%;
}

div.Portfolio {
	margin-left: 10%;
}

p {	
	margin-left: 22px;
	margin-right: 300px;
}

p.ImageCaption {
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
	line-height: 0px;
	font-style: italic;
}
h1 {
	font-family: 'agency fb', monospace;
	line-height: 40px;
	font-size: 35px;
	font-style: normal;
}

h2 {
	font-family: 'agency fb', monospace;
	font-style: normal;
	font-weight: 800px;
	font-size: 48px;
	font-style: normal;
	line-height: 40px;
	margin-right: 301px;
}

h3 {
	font-family: 'agency fb';
	font-style: normal;
	line-height: 18px;
	font-size: 30px;
	color: #ffffff;
	background: #46484e;
	height: 24px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 6px;
	margin-right: 301px;
}

h4 {
	font-family: 'Share Tech Mono';
	font-style: normal;
	font-weight: 400;
	line-height: 15px;
	font-size: 17.5px;
	text-align: left;
	color: #ffffff;
	margin-top: 28px;
	margin-bottom: 0px;
}

h4.first {
	font-family: 'Share Tech Mono';
	line-height: 15px;
	font-size: 17.5px;
	color: #ffffff;
	margin-top: 0px;
	margin-bottom: 0px;
}

h5 {
	font-family: 'Share Tech Mono';
	font-size:16px;
	font-weight: 400;
	margin-bottom: 3px;
	margin-top:5px;
}

a {
	line-height: 0px;
	color: #ffffff;
	text-decoration-color: #efefef;
}

a:visted {
	color: #ffffff;
}

a.h3 {
	font-family: "source code pro";
	line-height: 18px;
	font-size: 23px;
}

ul {
	margin-top: 5px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 34px;
	border-left: 5px solid #9195a1;
}

ul.nextgen {
	padding-left: 20px;
	border-left: 0px;
}

ul.indentedlist {
	margin-left: 5%;
}

div.list {
	padding-top: 0.1px;
	padding-bottom: 5px;
	padding-left: 1%;
	margin-left: 2.5%;
	font-size: 12px;
	font-style: normal;
	font-family: "source code pro";	
	font-weight: 400;
	line-height: 18.5714px;
}

div.nextgenBox {
	margin-left:0px;
	padding-left:0px;
	margin-bottom:10px;
}

.column {
  float: left;
  padding-left: 4px;
}

div.PortfolioGallery {
	margin-left:20px
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

div.gallery {
	  margin: 5px;
	  border: 1px solid #ccc;
	  float: left;
	  width: 180px;
	}

	div.gallery:hover {
	  border: 1px solid #777;
	}

	div.gallery img {
	  width: 100%;
	  height: auto;
	}

	div.desc {
	  padding: 15px;
	  text-align: center;
}

div.nextgenBox > div.row > div.column {
	column-width: 123px;
	padding-left: 0px;

}

div.nextgenBox > div.row > div.column > p {
	margin: 0px;
	padding-left:0px;
	padding-top:2px;

}

div.nextgenBox > div.row > div.column > ul {
	margin: 0px;
	margin-top:5px;
	padding-top:0px;
	border-left: 3px solid #9195a1;
	font-size: 12px;
	line-height:17px;
}

div.nextgenBox > div.row > div.column > ul {
	margin: 0px;
	margin-top:5px;
	padding-top:0px;
	border-left: 3px solid #9195a1;
	font-size: 12px;
	line-height:17px;
	margin-bottom:5px;
}

div.nextgenBox > div.row > div.column > ul > li > p {
	font-size: 12px;
	line-height:17px;
	margin:0px;
	margin-left:0px;
	text-decoration: underline;
}


div.nextgenBox > div.row > div.column > h5 {
		background: #46484e;
		margin-right: 10px;
		padding-left: 4px;
	}


{
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height:625px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}


@media screen and (max-width: 1440px) {
	body {
		margin-left: 50px;
	}
	p {
		margin-right: 145px;
	}
	h3 {
		margin-right: 145px;
	}
}

@media screen and (max-width: 1280px) {
	body {
		margin-left: 15px;
	}
	p {
		margin-right: 22px;
	}
	h3 {
		margin-right: 22px;
	}
	.sidenav {
		display: none;
	}
	.navbar { font-size: 18px; }
}