body {
	font-family: "Times New Roman";
	margin-left: 22%;
	padding-left: 1.5%;
	padding-right: 30%;
	border-left: 7px solid #C0AB8E;
	
	background: #F0EDE5;
	color: #625037;
	font-size: 14px;
	font-style: normal;
	font-weight: 450;
	line-height: 18.5714px;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: 40.7px;
}

h3 {
	font-family: 'Oswald', sans-serif;
	line-height: 18px;
	font-size: 23px;
}

h4 {
	font-family: 'Oswald', sans-serif;
	line-height: 15px;
	font-size: 17.5px;
	color: #725d40;
	margin-top: 28px;
	margin-bottom: 0px;
}

h4.first {
	font-family: 'Oswald', sans-serif;
	line-height: 15px;
	font-size: 17.5px;
	color: #725d40;
	margin-top: 0px;
	margin-bottom: 0px;
}

a {
	color: #a3855c;
}

a:visted {
	color: #625037;
}

div.list {
	padding-top: 0.1px;
	padding-bottom: 5px;
	padding-left: 3.5%;
	margin-left: 2.5%;
	padding-right: 45%;
	border-left: 5px solid #e3dbce;
	font-size: 13.25px;
	font-style: normal;
	font-weight: 400;
	line-height: 18.5714px;
}
